<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITE_MAP_FILE</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>ducdmd.listener.MyContextServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ducdmd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLastnameServlet</servlet-name>
        <servlet-class>ducdmd.controller.SearchLastnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>ducdmd.controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstRequestServlet</servlet-name>
        <servlet-class>ducdmd.controller.FirstRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>ducdmd.controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>ducdmd.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>ducdmd.controller.ShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <servlet-class>ducdmd.controller.RemoveItemFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>ducdmd.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ducdmd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>ducdmd.controller.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>ducdmd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>ducdmd.controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutSelectedItemsServlet</servlet-name>
        <servlet-class>ducdmd.controller.CheckOutSelectedItemsServlet_UNUSE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdministrationServlet</servlet-name>
        <servlet-class>ducdmd.controller.AccountAdministrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCheckoutServlet</servlet-name>
        <servlet-class>ducdmd.controller.ConfirmCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReConfirmCheckoutServlet</servlet-name>
        <servlet-class>ducdmd.controller.ReConfirmCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>ducdmd.controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLastnameServlet</servlet-name>
        <url-pattern>/SearchLastnameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstRequestServlet</servlet-name>
        <url-pattern>/FirstRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/ShoppingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <url-pattern>/RemoveItemFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/AuthorizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutSelectedItemsServlet</servlet-name>
        <url-pattern>/CheckOutSelectedItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdministrationServlet</servlet-name>
        <url-pattern>/AccountAdministrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCheckoutServlet</servlet-name>
        <url-pattern>/ConfirmCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReConfirmCheckoutServlet</servlet-name>
        <url-pattern>/ReConfirmCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
        the welcome file chi viet tren 1 dong duy nhat
    </welcome-file-list>-->
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>ducdmd.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/systemError.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>MrBean</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
